version: 2
updates:
  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: ⬆
    groups:
      github-actions:
        patterns:
          - "*"
  # Python (Backend)
  - package-ecosystem: pip
    directory: /backend
    schedule:
      interval: daily
    commit-message:
      prefix: ⬆
    groups:
      python-dependencies:
        patterns:
          - "*"
  # npm (Frontend)
  - package-ecosystem: npm
    directory: /frontend
    schedule:
      interval: daily
    commit-message:
      prefix: ⬆
    groups:
      npm-dependencies:
        patterns:
          - "*"
